@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}


img{
    border: 2px solid rgb(202, 202, 202);
    border-radius: 15px;
}


#sitepreview:hover{
    transform: translateY(-10px);
}
